.card{
    &-img{
        overflow: hidden;
        img{
            transition: 1s;
            &:hover{
                transform: scale(1.2);
            }
        }
    }
    .fa-heart{
        right:6%;
        &:hover{
            color: $secondary;
            font-weight: 900;
            cursor: pointer;
        }
    } 
}