.checkout-form{
    .form-control{
        border:none;
        border-radius: 0;
    }
    label{
        font-size: 1.5rem;
    }
    .nav{
        li{
            border:1px solid $light;
            &:hover{
                cursor: pointer;
                background-color: $light;
                color:$primary
            }
        }
        .active{
            background-color: $light;
            color:$primary
        }
    }
}