//wrting-mode
@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
      $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
  
      .w-mode#{$infix}-rl           { writing-mode: vertical-rl!important; }
      .w-mode#{$infix}-lr         { writing-mode: vertical-lr!important; }
      .w-mode#{$infix}-tb   { writing-mode: horizontal-tb;; }
    }
  }
  
//border-width
.border-5{
    border-width:5px!important;
}
.border-10{
    border-width:10px!important;
}

//line-height
@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
      $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
  
      .lineheight#{$infix}-2           { line-height:2 }

    }
  }


//letter-spacing
.space-normal   { 
    letter-spacing: normal;
 }
.space-wide  { 
    letter-spacing: 0.3em; 
}
.space-wider { 
    letter-spacing: 1em; 
}

.line{
    position:relative;
    &::after{
        position: absolute;
        margin-top:4px;
        right:48%;
        content: ""; 
        width: 3px;
        height: 80px;
        background: $primary;
    }
    &-horizonal{
        position:relative;
        &::after{
            position: absolute;
            margin-left:4px;
            top:48%;
            content: ""; 
            width: 80px;
            height: 3px;
            background: $primary;
        }
    }
}
//outline
.outline-none{
    outline:none;
}

//text-direction
.decoration-none{
    text-decoration: none;
    &:hover{
        text-decoration: none;
    }
}


